<div ng-include="'templates/partials/navbar.html'"></div>
<div id="img" style="background: url(assets/images/header-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:90vh;
  background-attachment:inherit;
  padding-top:5%;">
    <div class="coming-soon">
      <h1 class="profile-username">Dotrand Page for {{user.fullname}}</h1>
      <h1 class="site-message">We are currently working on something awesome. Stay tuned!</h1>
    </div>
</div>