<spinner name="loadingSpinner" ng-cloak="">
  <div class="overlay"></div>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <div class="please-wait">Please Wait...</div>
</spinner>
<div ng-include="'templates/partials/navbar.html'"></div>
<div id="img" style="background: url(assets/images/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:60vh;
  background-attachment:inherit;
  padding-top:5%;">
    <form>
      <span class="entypo-user inputUserIcon"></span>
      <input type="text" class="user" placeholder="username" ng-model="loginDetails.username" maxlength="25" />
      <span class="entypo-key inputPassIcon">Forgot?</span>
      <input type="password" class="pass" placeholder="password" ng-model="loginDetails.password" maxlength="25" />
      <button class="login-btn" ng-click="login(loginDetails)"><span class="">Log In</span></button>
    </form>
</div>

<div ng-include="'templates/partials/footer.html'"></div>
