<nav class="navbar navbar-default" style="font-size:15px;height:70px;background-color:transparent;border-color:transparent;margin-bottom:0">
  <div class="container-fluid" style="margin-top:10px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="margin-left:10px;font-family:sans-serif;">
        Dotrand
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="collapse-menu">
      <ul class="nav navbar-nav navbar-right menu-drop" style="margin-right:10px;font:normal 15px sans-serif;">
        <li><a ng-click="goBlog()" href="/blog/2016/02/17/dotrand-goal-and-vision/">About</a></li>
        <li><a href="mailto:admin@dotrand.com">Contact</a></li>
        <li><a href="#">Sign in</a></li>
        <li class="create-page">
          <a href="#">Create your page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>